// ==============================
// Override Variables
// 覆盖变量
// ==============================

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@400;500;600&display=swap");

// Color of the text
$global-font-color: #161209 !default;
$global-font-color-dark: #d1d1d1 !important;

// Font and Line Height
$global-font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, "Microsoft YaHei UI", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$global-font-size: 16px !important;
$global-font-weight: 400 !default;
$global-line-height: 1.6rem !default;
